{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block pub %} <div id="publicite">Publicité</div> {% endblock %}

{% block body %}
    <h1 id="categorie_titre_categorie">Nos différentes catégories</h1>
    <div id="categorie">
        {% for categorie in categories %}
            <div class="card_categorie">
                <a href="#">
                    <img src="{{ categorie.photo }}" alt="">
                </a>
                <div class="card_categorie_lib_desc_btn">
                    <div class="card_categorie_lib_desc">
                        <p>{{ categorie.lib }}</p>
                        <p class="desc">{{ categorie.description|u.truncate(60, '...') }}</p>
                    </div>
                    <a class="btn_categorie" href="#">Visiter la categorie</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}