{% extends 'base.html.twig' %}

{% block title %}Validation Panier{% endblock %}

{% block body %}
    <h1>Votre commande est bien enregistrée</h1>
    <p>Un mail récapitulatif vous a été envoyé</p>
{% endblock %}